.container {
  font-family: sans-serif;
}

.header {
  background: #069;
  color: #fff;
}

.headerLogo {
  margin: 0;
  font-size: 16px;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main>* {
  width: 800px;
}

.main>h3 {
  margin: 64px 0 32px;
}

.accountingHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.paymentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.dataTable {
  border-spacing: 1px;
  font-size: 14px;
}

.dataTable th {
  background: #666;
  color: #fff;
  padding: 4px;
  text-align: left;
}

.dataTable td {
  padding: 8px 4px;
}

.dataTable .numberCell {
  text-align: right;
}

.actionButton {
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #666;
  border-radius: 3px;
}

.newPaymentFormWrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
}

.newPaymentForm {
  color: #fff;
  background-color: #666;
  position: absolute;
  width: 250px;
  top: -12px;
  padding: 10px;
}

.newPaymentForm>label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 5px;
}

.newPaymentForm input {
  background: #eee;
  border: none;
}

.submitButtonWrapper {
  text-align: center;
}

.newPaymentForm input.submitButton {
  margin: 10px 0 5px;
  width: 80%;
  color: #fff;
  background: #999;
}